.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0px 3px 6px;
  text-align: center;
  border: 2px solid #FCCE23;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  z-index: 0;
  background: #FCCE23;
  border-radius: 7px;
  transition-duration: 0.3s;
  min-width: 120px;
}
.hbtn_white {
    background: transparent;
    color: black;
}
.hbtn_none_hover {
    background: transparent;
    border: solid 2px transparent;
}
.hbtn i {
  padding-right: 8px;
}
.hover_yell::before {
  position: absolute;
  content: "";
  background: rgb(255, 255, 255);
  transition-duration: 0.3s;
  z-index: -1;
  top: 0px;
  right: auto;
  bottom: auto;
  left: 0px;
  width: 0px;
  height: 100%;
  opacity: 1;
}

.hbtn_none_hover::before {
    background: transparent !important;
}
.hbtn_none_hover:hover {
    border: 2px solid #FCCE23;
    background: transparent !important;
}
.hover_yell:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.hover_yell:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
}

.special_ah {
  font-family: 'Roboto', sans-serif !important;
  text-decoration: none;
  color: black;
}

.special_ah i {
  transform: translateX(5px);
  transition: ease all 0.3s;
}
.special_ah:hover i {
  transform: translateX(10px);
  transition: ease all 0.3s;
}


/* RADIOBUTTON */


.radio-button {
  margin: .5em;
}
.radio-button input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio-button input[type="radio"] + .radio-label:before {
  content: '';
  background: #fff;
  border-radius: 100%;
  border: 1px solid #dcdcdc;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: .5em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all .3s ease;
  margin-top: 3px;
}
.radio-button input[type="radio"]:checked + .radio-label:before {
  background-color: #fcce23;
  box-shadow: inset 0 0 0 4px #fff;
  margin-top: 3px;
}
.radio-button input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #fcce23;
}
.radio-button input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #fff;
  border-color: #dcdcdc;
  background: #dcdcdc;
}
.radio-button input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
